*{
margin:0;
padding:0;
}
.contactsection{
background:url(https://cdn.pixabay.com/photo/2021/06/29/06/14/water-drops-6373296__340.jpg) no-repeat center;
background-size:cover;
padding:40px 0;
}
.contactsection h1{
text-align:center;
color:white;
}
.border{
width:100px;
height:10px;
background:#34495e;
margin:40px auto;
}
.contactform{
max-width:600px;
margin:auto;
padding:0 10px;
overflow:hidden;
}
.contactformtext{
display:block;
width:100%;
box-sizing:border-box;
margin:16px 0;
border:0;
background:#fff;
padding:20px 40px;
outline:none;
color:#ddd;
transistion:0.5s;
}
.contactformtext:focus{
box-shadow:0 0 10px 4px #34495e;
}
textarea.contacformtext{
resize:none;
height:120px;
}
.contactformbtn{
float:right;
border:0;
background:#34495e;
color:#fff;
padding:12px 50px;
border-radius:20px;
cursor:pointer;
transistion:0.5s;
}
.contactformbtn:hover{
background:#2980b9;
}

